{% extends "layout.html" %}

Confirm Registration

{% endblock %}

{% block main %}
    <form action="/confirmregistration" method="post">
         <br></break>
        <br></break>
        <br></break>
        <br></break>
        "Please enter your confirmation code"
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="confirm_code" placeholder="Confirmation Code" type="text"/>
        </div>

        <button class="btn btn-primary" type="submit">Confirm</button>
    </form>
{% endblock %}