{% extends "layout.html" %}

{% block title %}
    Menu
{% endblock %}

{% block main %}
    <!-- comment-->
 <main class="container p-5">
            <iframe src="https://media.giphy.com/media/8vQSQ3cNXuDGo/giphy.gif" width="428" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://media.giphy.com/media/8vQSQ3cNXuDGo/giphy.gif">via GIPHY</a></p>
        </main>
<table class="table table-striped table-hover table-condensed" style="width:100%">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Add to Cart</th>
      </tr>
    </thead>

    <tbody>
    {% for item in menu %}
    {% for item in pizza %}
          <tr>
            <td>{{item.description}}</td>
            <td>{{item.detailed_description}}</td>
            <td>{{item.price|usd}}</td>
            <td>
                <!-- Extra Button to buy from index page.  I tried to make everything small but it didn't work very well-->
                <form action="/buy" method="post"
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="input-group">
                          <input type="number" class="form-control" name= "quantity" placeholder="quantity" type="number" min="1"/>
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Add</button>
                          </span>
                        </div><!-- /input-group -->
                      </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                <!--class="form">
                    <input name="symbol" type="hidden" value="">
                    <input autocomplete="off" autofocus class="form-control input-sm" name="shares" placeholder="shares" type="number" min="1"/>
                    <button class="btn btn-default" type="submit">Add to cart</button>-->
                </form>
            </td>
          </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<br>
{% endblock %}
