{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <!-- comment-->
    <form action="/register" method="post">
        <br></break>
        <br></break>
        <br></break>
        <br></break>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Name as it will appear on orders" type="text"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="text"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="phone" placeholder="Phone Number" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Retype Password" type="password"/>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
