{% extends "layout.html" %}

Registration Submitted

{% endblock %}

{% block main %}
    <form action="/confirmregistration" method="post">
         <br></break>
        <br></break>
        <br></break>
        <br></break>
        <br></break>
        <br></break>
        "Thank you.  Please check your email for the next steps."
        <iframe src="https://giphy.com/embed/hTsAAaYV5nRjq" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/dog-puppy-mail-hTsAAaYV5nRjq">via GIPHY</a></p>
        <br></break>
        <br></break>
        <br></break>
        <br></break>
    </form>
{% endblock %}